<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <img src="<%= foundCampground.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= foundCampground.title %>
                    </h5>
                    <p class="card-text">
                        <%= foundCampground.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <%= foundCampground.location %>
                    </li>
                    <li class="list-group-item">
                        $<%= foundCampground.price %>/night
                    </li>
                </ul>
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/campgrounds/<%= foundCampground._id %>/edit">EDIT</a>
                    <form class="d-inline" action="/campgrounds/<%= foundCampground._id%>?_method=DELETE" method="post">
                        <button class="btn btn-danger">Delete</button>
                    </form>

                </div>
                <div class="card-footer text-muted mb-3">
                    2 days ago
                </div>
            </div>
        </div>
        <div class="col-6">
            <h2>Leave a review</h2>
            <form action="/campgrounds/<%= foundCampground._id %>/reviews" method="post" class="mb-3 needs-validation"
                novalidate>
                <div class="mb-3">
                    <label class="form-label" for="rating">Rating</label>
                    <input type="range" name="review[rating]" id="" min="1" max="5" class="form-range">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="body">Review</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
            <% for(let review of foundCampground.reviews) { %>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            Rating: <%= review.rating %>
                        </h5>
                        <p class="card-text">
                            Review: <%= review.body %>
                        </p>
                        <form action="/campgrounds/<%= foundCampground._id %>/reviews/<%= review._id %>?_method=DELETE"
                            method="post">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
                <% } %>

        </div>
    </div>